<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>local build-Oct 16 2012</string>
	<string>M7.0.5-4052-1</string>
	<string>M7.0-3507-1</string>
	<string>M7.0.5-4052-1</string>
	<string>M7.3.1-5249-2</string>
	<string>M8.1-5683-2</string>
	<string>M8.3-5989-2</string>
	<string>M10.3.9-7029.9.8-5</string>
</array>
</plist>
